/* body {
    margin: 0 auto;
    padding: 0;
    float: flex;
    background-color: #ebedee;
}

#content {
    margin-left: 256;
    background-color: red;
}

@media only screen and (max-width:400px) {
    #content {
        margin-left: 0;
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #fff;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #000000;
    height: 90vh;
}