body {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

aside {
    /* background-color: green; */
    align-items: stretch;
    height: 100vh;
    width: 256px;
}

main {
    /* background-color: blue; */
    display: flex;
    flex-direction: col;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;   
}